---
title: Straw Library
---


<ol class="breadcrumb" style="border-radius: 0;">

  <li><i class="fa fa-android"></i> Android </li>

{% for ver in data.android.versions %}

  <li>

    <a href="/android/{{ ver[0] }}">

      {{ ver[0] }}

    </a>

  </li>

{% endfor %}

</ol>

<ol class="breadcrumb" style="border-radius: 0;">

 <li><i class="fa fa-apple"></i> iOS</li>

 <li>not yet</li>

</ol>



<div class="welcome">

  <h1><i class="fa fa-{{ data.icon_name[platform] }}"></i> {{ data.display_name[name] }} <small>{{ version }}</small></h1>

  {% if time %}

    <p class="release-date">released at : {{ time | date: "%F" }}</p>

  {% endif %}

</div>


<div style="max-width: 960px; margin: auto;">

  <table class="table table-striped">

    <thead>

      <tr>

        <th><i class="fa fa-{{ data.icon_name[platform] }}"></i> library</th>

        <th>version</th>

        <th>travis-ci</th>

        <th>coveralls</th>

      </tr>

    </thead>

  {% for lib in libs %}

    <tr>

      <td>
        <i class="fa fa-github"></i>
      
        <a href="https://github.com/strawjs/{{ lib.name }}/tree/{{ lib.version }}">
          {{ lib.name }}</a>

      </td>

      <td>

        {{ lib.version }}

      </td>

      <td>

        <a href="https://travis-ci.org/strawjs/{{ lib.name }}">
          <img src="https://travis-ci.org/strawjs/{{ lib.name }}.png?branch={{ lib.version }}" /></a>

      </td>

      <td>

        <a href="https://coveralls.io/r/strawjs/{{ lib.name }}?branch={{ lib.version }}">
          <img src="https://coveralls.io/repos/strawjs/{{ lib.name }}/badge.png?branch={{ lib.version }}" /></a>

      </td>

    </tr>

  {% endfor %}

  </table>

</div>
