---
title: Straw Library
---

<div class="welcome">

  <h1>Straw Bundle {{ version }}</h1>

  {% if time %}
    <p class="release-date">released at: {{ time | date: "%F" }}</p>
  {% endif %}

</div>


<div style="max-width: 960px; margin: auto;">

  <table class="table table-striped">

    <thead>

      <tr>

        <th></th>

        <th>library</th>

        <th>version</th>

        <th>travis-ci</th>

        {% if version == 'latest' %}

          <!-- coveralls only available for latest version -->
          <th>coveralls</th>

        {% endif %}

      </tr>

    </thead>

  {% for lib in libs %}

    <tr>

      {% if forloop.first %}
        <td rowspan="4">Android</td>
      {% endif %}

      <td>
        <i class="fa fa-book"></i>
      
        <a href="https://github.com/strawjs/{{ lib.name }}">
          {{ lib.name }}</a>

      </td>

      <td>

        {{lib.version }}

      </td>

      <td>

        <a href="https://travis-ci.org/strawjs/{{ lib.name }}">
          <img src="https://travis-ci.org/strawjs/{{ lib.name }}.png?branch={{ lib.version }}" /></a>

      </td>

      {% if version == 'latest' %}

        <!-- coveralls only available for latest version -->

        <td>

          <a href="https://coveralls.io/r/strawjs/{{ lib.name }}">
            <img src="https://coveralls.io/repos/strawjs/{{ lib.name }}/badge.png" /></a>

      {% endif %}

      </td>

    </tr>

  {% endfor %}

  </table>

</div>
